.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.right p {
    text-align: right;
}
.right h3 {
    text-align: right;
}

/*start header*/
header{
    height: 550px;
    width: auto;
}
/*CSS card*/
.border{
    border: none;
}

/*end CSS card*/

/*CSS img*/
.img-header{
    height: 500px;
    width: auto;
    float: right;
}
/*end img*/
/*end header*/
